
@import "variables";

@font-face {
  font-family: 'FONT';
  src: local('FONT'), url('../assets/font/Optimus.otf') format('truetype');
}
.searchContainer {
  margin: 0.5vw;
  align-items: center;
  font: inherit;
  width: 100%; 
  background: none;
  color: var(--color);
  transition: 0.25s;
  display: flex;
  flex-direction: row;
  border: 2px solid $primary-color; 
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: $secondary-color;
  }
}

.searchInput {
  border: none;
  outline: none; 
  width: 95%; 
  background-color: $solid-color;
}
body{
  background-color: blue;
}
.searchButton {
  width:35%;
  flex-grow: 1;
  height: 100%;
  padding: 10px 20px; 
  border: none;
  border-left: 2px solid $primary-color ;
  cursor: pointer;
  outline: none; 
  transition: background-color 0.5s ease;
  
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'FONT';
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  button {
    margin:0.25%;
    border: 2px solid;
    align-items: center;
    padding: 1em 2em;
    width: 100%; 
    background: none;
    color: var(--color);
    transition: 0.25s;
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: $highlight-color;
    }
  }
}
.containerBox {
  color:$primary-color;
  background-color: $solid-color;
  width: 50vh;
  height: 50vh;
  max-width: 800px; 
  margin: auto; 
  display: flex;
  flex-direction: column; 
  border: 2px solid $primary-color;
  justify-content: center;
  align-content: center;
  align-items: center; 
  
}

.title {
  margin: auto; 
  margin-bottom: 1vw;
  background-color: $solid-color;
  display: flex;
  height:10vw;
  width: 40vw;
  min-height: 100px;
  min-width: 400px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.title p {
  min-width: 20vw;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 30px $highlight-color, 0 0 10px $highlight-color;
    font-size: 7vw;
  }
  to {
    text-shadow: 0 0 20px $highlight-color;
    font-size: 8vw;
  }
}
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5vw;
  justify-content: center;
  align-items: center;
}




.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}
$colors: (
  pulse: $primary-color 
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}


@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover);
   }
}


/* Media queries for responsiveness */
/* For screens smaller than 600px */



