
@font-face {
  font-family: 'RustFont';
  src: local('RustFont'), url('./assets/font/Rust.ttf') format('truetype');
}
.searchContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: hidden; 
  border: 2px solid #03ff5b; 
  margin-bottom: 2.5%;
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #04cff7;
  }
}

.searchInput {
  padding: 10px; 
  border: none;
  outline: none; 
  width: 95%; 
 background-color: #353a3b;
}

.searchButton {
  width:35%;
  flex-grow: 1;
  height: 100%;
  padding: 10px 20px; 
  border: none;
  border-left: 2px solid #03ff5b ;
  cursor: pointer;
  outline: none; 
  transition: background-color 0.5s ease;
  
}
body {
  
  font-family: 'RustFont';
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}
.container {
  color:#03ff5b,;
  font-family: 'RustFont';
  background-color: #353a3b;
  width: 50vh; /* Adjust as needed */
  height: 50vh; /* Set height to 50% of the viewport height */
  max-width: 800px; /* Adjust max-width as needed */
  margin: auto; /* Center align the container */
  padding: 5em; /* Adjust padding as needed */
  display: flex;
  flex-direction: column; /* Stack elements as a column */
  border: 2px solid #03ff5b;
  justify-content: center;
  align-content: center;
  align-items: center; /* Add a border with white color and 2px width */
}

.title {
  margin-bottom: 1vw;
  background-color: #353a3b;
  display: flex;
  height:10vw;
  width: 40vw;
  font-family: 'RustFont';
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8vw;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 30px #04cff7, 0 0 10px #04cff7;
    font-size: 7vw;
  }
  to {
    text-shadow: 0 0 20px #03ff5b;
    font-size: 8vw;
  }
}
.buttons > * {
  margin-top: 1em; 
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  width: 100%; 
  max-width: 300px; 
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #04cff7;
  }
}


.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}
$colors: (
  pulse: #03ff5b, 
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}


@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


/* Media queries for responsiveness */
/* For screens smaller than 600px */
@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-bottom: 10px;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .buttons {
    flex-wrap: wrap;
  }

  button {
    flex: 1 1 45%;
    margin: 5px;
  }
}
